@using System.ComponentModel.DataAnnotations
@using DayPlanner.Abstractions.Models.DTO

<div>
    <RadzenText TextStyle="TextStyle.H4" TextAlign="TextAlign.Center">@Localizer["login"]</RadzenText>
    <RadzenCard class="login-card rz-my-12 rz-mx-auto rz-p-4 rz-p-md-12">
        <RadzenTemplateForm TItem="@UserRequest" Data=_model Submit="@Form_OnSubmit">

            <!-- Email -->
            <RadzenRow>
                <RadzenFormField class="rz-w-100" Text="@Localizer["form_Email"]">
                    <RadzenTextBox class="rz-w-100" @bind-Value="@_model.Email" Name="@nameof(UserRequest.Email)" />
                </RadzenFormField>

                <RadzenRequiredValidator class="validator" Component="@nameof(UserRequest.Email)"
                                         Text="@Localizer["form_Required"]" Popup="false" />
                <RadzenEmailValidator class="validator" Component="@nameof(UserRequest.Email)"
                                      Text="@Localizer["form_Email_Invalid"]" Popup="false" />
            </RadzenRow>

            <!-- Password -->
            <RadzenRow>
                <RadzenFormField class="rz-w-100" Text="@Localizer["form_Password"]" Variant="@Variant.Outlined">
                    <ChildContent>
                        <RadzenPassword @bind-Value="@_model.Password" Name="@nameof(UserRequest.Password)" Visible="@_passwordNotVisible" />
                    </ChildContent>
                    <End>
                        <RadzenButton Icon="@(_passwordNotVisible ? "visibility_off" : "visibility")"
                                      Click="() => _passwordNotVisible = !_passwordNotVisible"
                                      Variant="Variant.Text" Size="ButtonSize.Small" />
                    </End>
                </RadzenFormField>

                <RadzenRequiredValidator class="validator" Component="@nameof(UserRequest.Password)"
                                         Text="@Localizer["form_Required"]" Popup="false" />
            </RadzenRow>

            <!-- Submit -->
            <RadzenRow>
                <RadzenButton class="rz-w-100 rz-mt-3" Text="@Localizer["form_LoginBtn"]"
                              ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" />
            </RadzenRow>
        </RadzenTemplateForm>
        <hr />

        <!-- Google login -->
        <RadzenRow>
            <RadzenButton class="rz-w-100 rz-mt-3" ButtonStyle="ButtonStyle.Warning"
                          Click=@(async () => await GoogleLogin_OnClickAsync()) ButtonType="ButtonType.Submit">
                <div class="googleLoginBtn">
                    <i class="fab fa-google"></i>
                    <span>@Localizer["form_LoginGoogleBtn"]</span>
                </div>
            </RadzenButton>
        </RadzenRow>

        <!-- Register link -->
        <RadzenText class="rz-mt-5">
            @Localizer["noAccount"]
            <RadzenLink Path="@Routes.Register()">@Localizer["noAccount_Register"]</RadzenLink>
        </RadzenText>

        @if (_loginError)
        {
            <RadzenAlert AlertStyle="AlertStyle.Danger" Variant="Variant.Flat" Shade="Shade.Lighter" Close="@ChangeErrorState">
                @Localizer["form_Invalid"]
            </RadzenAlert>
        }
    </RadzenCard>
</div>