@using Microsoft.AspNetCore.Components.Authorization

@inherits LayoutComponentBase

<RadzenComponents />
<div>
    <RadzenLayout>
        <RadzenHeader>
            <AuthorizeView>
                <Authorized>
                    <RadzenStack class="rz-w-100" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">

                        <!-- Linke Gruppe: Menu und DayPlanner -->
                        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                            <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
                            <RadzenLabel Text="DayPlanner" />
                        </RadzenStack>

                        <!-- Rechte Gruppe: Avatar, Benutzername, Logout und Toggler -->
                        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="10px">
                            @{
                                var avatar = GetUserAvatar();
                                Uri uri;
                                bool isUrlValid = Uri.TryCreate(avatar, UriKind.Absolute, out uri)
                                && (uri.Scheme == Uri.UriSchemeHttp || uri.Scheme == Uri.UriSchemeHttps);
                            }
                            @if (!isUrlValid)
                            {
                                <div class="userAvatar">
                                    @avatar
                                </div>

                            }
                            else
                            {
                                <div class="userAvatarImage">
                                    <img src="@avatar" alt="User Avatar" />
                                </div>                               
                            }
                            <RadzenLabel Text="@_user?.DisplayName" />

                            <RadzenButton Click="Logout" Icon="logout" ButtonStyle="ButtonStyle.Light" />
                            <RadzenAppearanceToggle />
                        </RadzenStack>
                    </RadzenStack>
                </Authorized>
                <NotAuthorized>
                    <RadzenStack class="rz-w-100" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">

                        <!-- Linke Gruppe: Menu und DayPlanner -->
                        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                            <div class="menuLabel" />
                            <RadzenLabel class="rz-ml-3" Text="DayPlanner" />
                        </RadzenStack>
                        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="10px">
                            <RadzenAppearanceToggle class="rz-mt-1 rz-mr-5" />
                        </RadzenStack>
                    </RadzenStack>
                </NotAuthorized>
            </AuthorizeView>
        </RadzenHeader>

        <AuthorizeView>
            <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
                <RadzenPanelMenu>
                    <RadzenPanelMenuItem Text="Home" Icon="home" Click="@(() => Navigation.NavigateToHome())" />
                    <RadzenPanelMenuItem Text="Dashboard" Icon="dashboard" Click="@(() => Navigation.NavigateToDashboard())" />
                </RadzenPanelMenu>
                <div class="rz-p-4" />
            </RadzenSidebar>
        </AuthorizeView>

        <RadzenBody>
            <ChildContent>
                <RadzenContentContainer Name="main">
                    @Body
                </RadzenContentContainer>
            </ChildContent>
        </RadzenBody>

        <RadzenFooter class="footer">
            <RadzenRow class="row1" />
            <div class="row2">
                <RadzenRow>
                    <RadzenColumn Size="6">
                        <div class="copyright rz-text-xs">© @DateTime.Now.Year DayPlanner GmbH</div>
                    </RadzenColumn>
                </RadzenRow>
            </div>
        </RadzenFooter>
    </RadzenLayout>
</div>

@* <div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
 *@